#body {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: white;
}

#header {
    position: relative;
    top: 5%;
    left: 0;
    text-align: center;
}

#logo {
    max-width: 30%;
    max-height: 10%;
}

#order-screen {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
    background: #eeece5;
}

#order-photo {
    position: relative;
    top: 0;
    left: 5%;
    max-width: 100%;
    max-height: 100%;
}

#options-cont {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
}

#order-button {
    width: 20%;
    height: 12%;
    text-align: center;
    font-size: 20px;
    background: #60b0f4;
    font: 18px Calibri;
    cursor: pointer;
    display: none;
}

#order-button:hover {
    background: #81bef3;
}

#order-now {
    position: relative;
    top: 20%;
}

#form {
    position: relative;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 50%;
    background: #eeece5;
}

#personal-i {
    position: relative;
    top: 50px;
    left: 20px;
}

#pay-i {
    position: relative;
    top: 50px;
    left: 20px;
}

#sub-btn {
    position: relative;
    width: 10%;
    height: 10%;
    top: 100px;
    left: 20px;
    text-align: center;
    font-size: 20px;
    background: #60b0f4;
    font: 18px Calibri;
    cursor: pointer;
}

#sub-btn:hover {
    background: #81bef3;
}

#form {
    display: none;
}